---
layout: default
title: Juanda
---

{% for post in paginator.posts %}
  <div class="row">

    <div class="twelve columns post-list">
      <h1>
        <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        <br />
        <span class="date">{{ post.date | date_to_string }}</span>
      </h1>

      <br />
      <br />

      <div>
        {{ post.content }}
      </div>
    </div>


  </div>
  <hr />
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% endif %}

  {% if paginator.next_page or paginator.previous_page %}
    <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% endif %}
</div>

