<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}" rel="nofollow" target="_blank">email</a></li>
          {% endif %}
          {% if site.github_username %}
            <li><a href="https://github.com/{{site.github_username}}"
                   rel="nofollow"
                   target="_blank">github</a></li>
          {% endif %}

          {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{site.twitter_username}}"
                   rel="nofollow"
                   target="_blank">twitter</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
