::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.with-scroll {
  border: 1px solid #a9abbe;
  padding: 20px;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  border-radius: 9px;
}

.footer {
  margin-top: 100px;
}

