body {
  color: #333;
  font-family: Georgia, Cambria, 'Hoefler Text', 'Times New Roman', serif;
}

a {
  color: #F24761;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  font-size: 20px;
  line-height: 1.5em;
  padding: 10px;
}

nav.top-bar {
  background: WhiteSmoke;
  border-bottom: solid 1px #ddd;
}

.box-shadow {
  border: 1px solid #ddd;
  padding: 30px;
}

.sidebar {
  border-left: solid 1px #ddd;
  padding: 0 30px;
}

ul > li {
  margin-left: 30px;
  list-style-type: square;
}

ul > li.name {
  list-style: none;
  margin-left: 0;
}

.avatar {
  width: 100%;
  height: 120px;
  background-size: cover;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 20px;
}

span.date {
  color: #aaa;
  font-size: 20px;
}

span.date-home {
  color: #aaa;
  font-size: 15px;
}

#footer {
  background: WhiteSmoke;
  border-top: 1px solid #ddd;
  padding: 20px 0 30px 0;
}

#main-menu {
  padding: 20px 0;
  font-size: 15px;
  text-align: center;
}

code {
  line-height: 20px;
}

hr {
  width: 40%;
}
