body {
  color: #333;
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

a {
  color: #c0392b;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

a:hover, a:active {
  color: #8D2A20;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all .4s;
  transition: all .4s;
}

h1, h2, h3, h4 {
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1, h2 {
  line-height: 55px;
}

h1.post-title {
  text-align: center;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
}

p {
  font-size: 17px;
  line-height: 2.1em;
  padding: 10px;
  color: rgba(0,0,0,0.8);
}

nav.top-bar {
  background: WhiteSmoke;
  border-bottom: solid 1px #ddd;
}

.box-shadow {
  border: 1px solid #ddd;
  padding: 30px;
}

.sidebar {
  border-left: solid 1px #ddd;
  padding: 0 30px;
}

ul > li {
  margin-left: 30px;
  list-style-type: square;
}

ul > li.name {
  list-style: none;
  margin-left: 0;
}

.avatar {
  width: 30px;
  height: 30px;

  border-radius: 900px;
  -moz-border-radius: 900px;
  -webkit-border-radius: 900px;
}

span.date {
  color: #aaa;
  font-size: 16px;
}

#footer {
  background: #F0F0F2;
  border-top: 1px solid #ddd;
  padding: 20px 0 30px 0;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 15px;
  line-height: 20px;
  font-family: 'Inconsolata', 'Lucida Console', Monaco, 'Courier New', Courier, monospace;
  font-weight: normal;
}

hr {
  width: 40%;
}

.my-name, .my-name a, .my-name a:hover {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
}

.pagination {
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}

.pagination ul
{
  margin: 0;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

.pagination ul li { display: inline; }

.pagination ul li a
{
  text-decoration: none;
  padding: .2em 10px;
  font-size: 20px;
}

.topbar-item {
  padding-top: 20px;
  font-size: 20px;
}

.post-title-index {
  font-size: 27px;
  text-align: left;
  color: rgba(0,0,0,0.85);
}

.post-title-index:hover {
  color: #c0392b;
  text-decoration: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 480px) {
  .post-title-index {
    line-height: 40px;
  }
}



.excerpt p {
  font-size: 17px;
  color: rgba(0,0,0,0.4);
  line-height: 2.1em;
  margin-top: -20px;
}

.post-date-index {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  padding: 10px 10px;
}

.top-bar {
  background: transparent;
  padding: 10px;
}
