body {
  color: #333;
  font-family: 'Libre Baskerville', Georgia, serif;
}

a {
  color: #F24761;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
}

h1, h2 {
  line-height: 55px;
}

p {
  font-size: 20px;
  line-height: 1.5em;
  padding: 10px;
}

nav.top-bar {
  background: WhiteSmoke;
  border-bottom: solid 1px #ddd;
}

.box-shadow {
  border: 1px solid #ddd;
  padding: 30px;
}

.sidebar {
  border-left: solid 1px #ddd;
  padding: 0 30px;
}

ul > li {
  margin-left: 30px;
  list-style-type: square;
}

ul > li.name {
  list-style: none;
  margin-left: 0;
}

.avatar {
  width: 100%;
  height: 120px;
  background-size: cover;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 20px;
}

span.date {
  color: #aaa;
  font-size: 20px;
}

span.date-home {
  color: #aaa;
  font-size: 15px;
}

#footer {
  background: WhiteSmoke;
  border-top: 1px solid #ddd;
  padding: 20px 0 30px 0;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 15px;
  line-height: 20px;
  font-family: 'Inconsolata', 'Lucida Console', Monaco, 'Courier New', Courier, monospace;
}

hr {
  width: 40%;
}

.my-name, .my-name a, .my-name a:hover {
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
}

.pagination ul
{
  margin: 0;
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

.pagination ul li { display: inline; }

.pagination ul li a
{
  text-decoration: none;
  padding: .2em 10px;
  font-size: 20px;
}
