body {
  color: #666;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

p {
}

nav.top-bar {
  background: white;
  border-bottom: solid 1px #ddd;
}

.box-shadow {
  border: 1px solid #ddd;
  padding: 30px;
}

.sidebar {
  border-left: solid 1px #ddd;
  padding: 0 30px;
}

.sidebar ul > li {
  list-style: none;
}

.avatar {
  width: 100%;
  height: 120px;
  background-size: cover;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 20px;
}

span.date {
  color: #aaa;
  font-size: 20px;
}

