.update {
  background: $warning-yellow;
  padding: 1rem;
  font-size: .833em;
  border-radius: 5px;
  border: 1px solid darken($warning-yellow, 15%);
  margin-bottom: 2.074rem;

  strong {
    font-size: 1em;
  }
}