.post-list {
  font-size: 1rem;

  li {
    margin-bottom: 1rem;

    span.post-meta:after {
      @media(min-width: 800px) {
        content: " - ";
      }
    }

    h2 {
      font-weight: normal;

      @media(min-width: 800px) {
        display: inline-block;
      }

      a.post-link {
        font-size: .833em;
        color: $links-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}