<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Juanda Zapata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/foundation.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/app.css" rel="stylesheet" type="text/css" media="all">
    <link href="http://fonts.googleapis.com/css?family=Libre Baskerville&subset=latin" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata&subset=latin" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile&subset=latin" rel="stylesheet" type="text/css">
  </head>

  <body>

    <div class='row top-bar'>
      <div>
        <a href='/'>
          <img src='{{ ASSET_PATH }}/images/juanda-zapata.jpg' alt='Juanda Zapata' class='avatar' />
        </a>
      </div>
    </div>

    <div class='row'>
      <div class='ten columns centered'>
        {{ content }}
        <br />
        <br />
      </div>
    </div>

    <div id="footer">
      <div class="row">
        <div class="twelve columns centered text-center">
          <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a> |
          <a href="{{ BASE_PATH }}/about">About me</a>
          <br />
          <br />
          Made with love in 2014
        </div>
      </div>
    </div>

    {% include JB/analytics %}

    <link rel="stylesheet" href="{{ ASSET_PATH }}/javascripts/highlight.js/styles/github.css">
    <script src="{{ ASSET_PATH }}/javascripts/highlight.js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
