<h1>
  {{ page.title }}
  <br />
  <span class="date">{{ page.date | date_to_string }}</span>
</h1>

<br />
<hr />
<br />


<div>
  {{ page.content | markdownify }}
</div>

<div class="pagination">
  <ul>
    {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
    {% endif %}

    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% endif %}
  </ul>
</div>
<hr />
{% include JB/comments %}

